openapi: 3.2.0
info:
  title: Science Exchange Providers addresses Rfq Fields API
  version: v1
  description: Read API for scientific-service providers (suppliers) on the Science Exchange R&D marketplace. Exposes a provider's RFQs, quotes, services, facilities, line items, ratings, tags, users and related resources. Derived from the first-party se_providers_api_client Ruby wrapper (github.com/scienceexchange/se_providers_api_client); authoritative reference at https://demo.scienceexchange.com/api-docs/providers.
  contact:
    name: Science Exchange Engineering
    email: devs@scienceexchange.com
    url: https://www.scienceexchange.com
  license:
    name: Proprietary
  x-derived-from: https://github.com/scienceexchange/se_providers_api_client
servers:
- url: https://www.scienceexchange.com/api/providers/v1
  description: Production
security:
- access_token: []
tags:
- name: rfq_fields
  description: RFQFields resource.
paths:
  /rfq_fields:
    get:
      operationId: getProvidersV1RFQFields
      summary: List rfq fields
      description: Returns the collection of rfq fields visible to the authenticated provider.
      tags:
      - rfq_fields
      responses:
        '200':
          description: A list of rfq fields.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          description: Missing or invalid access_token.
        '404':
          description: Resource not found.
  /rfq_fields/{id}:
    get:
      operationId: getProvidersV1RFQFieldsId
      summary: Get a RFQ field
      description: Returns a single RFQ field by its identifier.
      tags:
      - rfq_fields
      parameters:
      - name: id
        in: path
        required: true
        description: The RFQ field identifier.
        schema:
          type: string
      responses:
        '200':
          description: The requested RFQ field.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid access_token.
        '404':
          description: Rfq field not found.
components:
  securitySchemes:
    access_token:
      type: apiKey
      in: query
      name: access_token
      description: Provider API key passed as the access_token query parameter on every request.
x-apievangelist:
  generated: '2026-07-21'
  method: derived
  source: https://github.com/scienceexchange/se_providers_api_client (DSL endpoint definitions)
