openapi: 3.2.0
info:
  title: Science Exchange Providers addresses Tags API
  version: v1
  description: Read API for scientific-service providers (suppliers) on the Science Exchange R&D marketplace. Exposes a provider's RFQs, quotes, services, facilities, line items, ratings, tags, users and related resources. Derived from the first-party se_providers_api_client Ruby wrapper (github.com/scienceexchange/se_providers_api_client); authoritative reference at https://demo.scienceexchange.com/api-docs/providers.
  contact:
    name: Science Exchange Engineering
    email: devs@scienceexchange.com
    url: https://www.scienceexchange.com
  license:
    name: Proprietary
  x-derived-from: https://github.com/scienceexchange/se_providers_api_client
servers:
- url: https://www.scienceexchange.com/api/providers/v1
  description: Production
security:
- access_token: []
tags:
- name: tags
  description: Tags resource.
paths:
  /tags:
    get:
      operationId: getProvidersV1Tags
      summary: List tags
      description: Returns the collection of tags visible to the authenticated provider.
      tags:
      - tags
      responses:
        '200':
          description: A list of tags.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          description: Missing or invalid access_token.
        '404':
          description: Resource not found.
  /tags/{id}:
    get:
      operationId: getProvidersV1TagsId
      summary: Get a tag
      description: Returns a single tag by its identifier.
      tags:
      - tags
      parameters:
      - name: id
        in: path
        required: true
        description: The tag identifier.
        schema:
          type: string
      responses:
        '200':
          description: The requested tag.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid access_token.
        '404':
          description: Tag not found.
components:
  securitySchemes:
    access_token:
      type: apiKey
      in: query
      name: access_token
      description: Provider API key passed as the access_token query parameter on every request.
x-apievangelist:
  generated: '2026-07-21'
  method: derived
  source: https://github.com/scienceexchange/se_providers_api_client (DSL endpoint definitions)
