openapi: 3.0.3
info:
  title: Science Exchange Providers addresses services API
  version: v1
  description: Read API for scientific-service providers (suppliers) on the Science Exchange R&D marketplace. Exposes a provider's RFQs, quotes, services, facilities, line items, ratings, tags, users and related resources. Derived from the first-party se_providers_api_client Ruby wrapper (github.com/scienceexchange/se_providers_api_client); authoritative reference at https://demo.scienceexchange.com/api-docs/providers.
  contact:
    name: Science Exchange Engineering
    email: devs@scienceexchange.com
    url: https://www.scienceexchange.com
  license:
    name: Proprietary
  x-derived-from: https://github.com/scienceexchange/se_providers_api_client
servers:
- url: https://www.scienceexchange.com/api/providers/v1
  description: Production
security:
- access_token: []
tags:
- name: services
  description: Services resource.
paths:
  /services:
    get:
      operationId: getProvidersV1Services
      summary: List services
      description: Returns the collection of services visible to the authenticated provider.
      tags:
      - services
      responses:
        '200':
          description: A list of services.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          description: Missing or invalid access_token.
        '404':
          description: Resource not found.
  /services/{id}:
    get:
      operationId: getProvidersV1ServicesId
      summary: Get a service
      description: Returns a single service by its identifier.
      tags:
      - services
      parameters:
      - name: id
        in: path
        required: true
        description: The service identifier.
        schema:
          type: string
      responses:
        '200':
          description: The requested service.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid access_token.
        '404':
          description: Service not found.
components:
  securitySchemes:
    access_token:
      type: apiKey
      in: query
      name: access_token
      description: Provider API key passed as the access_token query parameter on every request.
x-apievangelist:
  generated: '2026-07-21'
  method: derived
  source: https://github.com/scienceexchange/se_providers_api_client (DSL endpoint definitions)
