openapi: 3.2.0
info:
  title: Science Exchange Providers addresses Line Items API
  version: v1
  description: Read API for scientific-service providers (suppliers) on the Science Exchange R&D marketplace. Exposes a provider's RFQs, quotes, services, facilities, line items, ratings, tags, users and related resources. Derived from the first-party se_providers_api_client Ruby wrapper (github.com/scienceexchange/se_providers_api_client); authoritative reference at https://demo.scienceexchange.com/api-docs/providers.
  contact:
    name: Science Exchange Engineering
    email: devs@scienceexchange.com
    url: https://www.scienceexchange.com
  license:
    name: Proprietary
  x-derived-from: https://github.com/scienceexchange/se_providers_api_client
servers:
- url: https://www.scienceexchange.com/api/providers/v1
  description: Production
security:
- access_token: []
tags:
- name: line_items
  description: LineItems resource.
paths:
  /line_items:
    get:
      operationId: getProvidersV1LineItems
      summary: List line items
      description: Returns the collection of line items visible to the authenticated provider.
      tags:
      - line_items
      responses:
        '200':
          description: A list of line items.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          description: Missing or invalid access_token.
        '404':
          description: Resource not found.
  /line_items/{id}:
    get:
      operationId: getProvidersV1LineItemsId
      summary: Get a line item
      description: Returns a single line item by its identifier.
      tags:
      - line_items
      parameters:
      - name: id
        in: path
        required: true
        description: The line item identifier.
        schema:
          type: string
      responses:
        '200':
          description: The requested line item.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid access_token.
        '404':
          description: Line item not found.
components:
  securitySchemes:
    access_token:
      type: apiKey
      in: query
      name: access_token
      description: Provider API key passed as the access_token query parameter on every request.
x-apievangelist:
  generated: '2026-07-21'
  method: derived
  source: https://github.com/scienceexchange/se_providers_api_client (DSL endpoint definitions)
